.text_no {
  line-height: 40px;
  text-align: center;
}

.text_name {
  color: #1256a0;
  font-size: 14px;
  font-weight: 700;
}

.text_symboal {
  color: #868686;
  font-size: 12px;
}

.text_price {
  line-height: 40px;
  color: #1256a0;
  font-size: 14px;
}

.text_percent {
  line-height: 40px;
  font-size: 14px;
}

.text_red {
  color: #d91400;
}

.text_green {
  color: #007c32;
}

.text_num {
  line-height: 40px;
  color: #232526;
  font-size: 14px;
}
